{% load cat_extra %}
<div class="buttons-filter" data-target="{{ widget.attrs.id }}">
  <label for="all-tags">
    toutes
    <input class="all-elements" type="checkbox" id="all-tags" name="all-tags" onChange="toggleSelectAllFilterElements(event)">
</label>
</div>
<div class="options-filter" id="{{ widget.attrs.id }}"{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>{% for group, options, index in widget.optgroups %}{% if group %}
    <div><label>{{ group }}</label>{% endif %}{% for widget in options %}<div role="button" class="small-cat">
      {% include widget.template_name %}</div>{% endfor %}{% if group %}
    </div>{% endif %}{% endfor %}
</div>