{% extends "agenda_culturel/page.html" %}

{% block title %}Proposer un événement{% endblock %}

{% block entete_header %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<link href="/static/css/django_better_admin_arrayfield.min.css" type="text/css" media="all" rel="stylesheet">
<script src="/static/js/django_better_admin_arrayfield.min.js"></script>
{% endblock %}


{% block content %}

<h1>Proposer un événement</h1>

<article>
{% url 'add_event' as local_url %}
{% include "agenda_culturel/static_content.html" with name="add_event" url_path=local_url %}
</article>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enregistrer">
</form>

{% endblock %}