{% load static %}
{% load cat_extra %}
{% load utils_extra %}
{% load event_extra %}

<article>
    {% if display in "in list by day" %}
    {% if display == "in list by day" and event|can_show_start_time %}
        <article class='ephemeris-hour'>
            {% if event.start_time %}
            {% if display == "in list" %}<footer>{% endif %}
                <span class="large">{{ event.start_time }}</span>
            {% if display == "in list" %}</footer>{% endif %}
        {% endif %}
        </article>
    {% endif %}
    {% if display == "in list" %}
        {% include "agenda_culturel/ephemeris-inc.html" with event=event %}
    {% endif %}
    {{ event.category | small_cat }}
    {% if event.location %}<hgroup>{% endif %}
            {% if display == "in list" %}<h2>{% else %}<h3>{% endif %}
                
            <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
            {% if display == "in list" %}</h2>{% else %}</h3>{% endif %}
    {% if event.location %}
    {% if display == "in list" %}<h3>{% else %}<h4>{% endif %}
        <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <use href="{% static 'images/feather-sprite.svg' %}#map-pin" />
        </svg>
        {{ event.location }}
        {% if display == "in list" %}</h3>{% else %}</h4>{% endif %}
    </hgroup>
    {% endif %}
        {% if event|need_complete_display:display %}<p>
            <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <use href="{% static 'images/feather-sprite.svg' %}#calendar" />
            </svg>
    
            <em>{% if event.end_day %}Cet événement dure du {% else %}Cet événement a lieu le{% endif %}
                {% include "agenda_culturel/date-times-inc.html" with event=event %}
            </em></p>
        {% endif %}
    {% elif display == "modal" %}

    <header>
        <a href="#event-{{ event.id }}" 
            aria-label="Fermer" 
            class="close" 
            data-target="event-{{ event.id }}"
            onClick="toggleModal(event)"></a>
            <h3>{{ event.category | small_cat }} {{ event.title }}</h3>
        
            <p>
                <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <use href="{% static 'images/feather-sprite.svg' %}#map-pin" />
                </svg>
                {{ event.location }}
            </p>
            <p><svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <use href="{% static 'images/feather-sprite.svg' %}#calendar" />
            </svg>
                {% if event.end_day %}du{% else %}le{% endif %}
                {% include "agenda_culturel/date-times-inc.html" with event=event %}
            </p>
    </header>

    {% else %}
    <header>
        {% include "agenda_culturel/ephemeris-inc.html" with event=event %}
        {{ event.category | small_cat }}
        <h1>{{ event.title }}</h1>
        <p><svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <use href="{% static 'images/feather-sprite.svg' %}#calendar" />
        </svg>
            {% if event.end_day %}du{% else %}le{% endif %}
            {% include "agenda_culturel/date-times-inc.html" with event=event %}
        </p>
        <p>
            <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <use href="{% static 'images/feather-sprite.svg' %}#map-pin" />
            </svg>
            {{ event.location }}
        </p>
    </header>
    {% endif %}

    {% if event.image and display != "modal" %}
    <article class='illustration{% if display in "in list by day" %}-small{% endif %}'>
        <img src="{{ event.image }}" alt="{{ event.image_alt }}" />
    </article>
    {% endif %}

    {% if display in "in list by day" or display == "modal" %}
        <p>{{ event.description |truncatewords:20 }}</p>
    {% else %}
        <p>{{ event.description }}</p>
    {% endif %}


    {% if display == "modal" %}
    <p>
        {% for tag in event.tags %}
        <a href="{% url 'view_tag' tag %}" role="button" class="small-cat">{{ tag }}</a>
        {% endfor %}
    </p>

    <footer class="infos-and-buttons">
        <div class="buttons">
            <a href="{{ event.get_absolute_url }}" role="button">Voir l'événement <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <use href="{% static 'images/feather-sprite.svg' %}#chevron-right" />
            </svg></a>
        </div>
    </footer>
    {% else %}

    
    <footer class="infos-and-buttons">
        <div class="infos">
            <p>
                {% for tag in event.tags %}
                <a href="{% url 'view_tag' tag %}" role="button" class="small-cat">{{ tag }}</a>
                {% endfor %}
            </p>

            {% if event.reference_urls %}
            {% if display in "in list by day" %}
            <p>Source{{ event.reference_urls|pluralize }}&nbsp;:
            {% else %}
            <p>Cet événement est proposé par&nbsp;:
            {% endif %} 
            {% for eurl in event.reference_urls %}
            <a href="{{ eurl }}">{{ eurl|hostname }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% else %}
            <p><em>Cet événement est disponible uniquement sur les nuits énimagmatiques.</em></p>
        {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="buttons">
            <a href="{% url 'edit_event' event.id %}" role="button">éditer</a>
            <a href="{% url 'delete_event' event.id %}" role="button">supprimer</a>
            {% if display != "single" %}
            <a href="{{ event.get_absolute_url }}" role="button">Voir l'événement <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <use href="{% static 'images/feather-sprite.svg' %}#chevron-right" />
            </svg></a>
            {% endif %}
        </div>
        {% endif %}
        </footer>
    {% endif %}
</article>

