{% extends "agenda_culturel/page.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% load cat_extra %}


{% block content %}

<article>
    <header>
    <h1>{{ object.title }}</h1>
    <ul>
        <li>Début&nbsp;: {{ object.start_day }} {% if object.start_time %} à {{ object.start_time }}{% endif %}</li>
        {% if object.end_day or object.end_time %}
        <li>Fin&nbsp;: 
        {% if object.end_day %}{{ object.end_day }}{% endif %}
        {% if object.end_time %}{{ object.end_time }}{% endif %}
        </li>
        {% endif %}
        
    </ul>
    </header>

<p>{{ event.description }}</p>

<footer>
    <p>{{ event.category | small_cat }}</p>
    <p>
        {% for tag in event.tags %}
        <a href="" role="button" class="small-cat">{{ tag }}</a>
        {% endfor %}
    </p>
    </footer>
</article>

{% endblock %}