{% load static %}
{% load cat_extra %}
{% load utils_extra %}
{% load event_extra %}

<article>
    {% if display in "in list by day" %}
    {% if display == "in list by day" and event|can_show_start_time %}
        <article class='ephemeris-hour'>
            {% if event.start_time %}
            {% if display == "in list" %}<footer>{% endif %}
                <span class="large">{{ event.start_time }}</span>
            {% if display == "in list" %}</footer>{% endif %}
        {% endif %}
        </article>
    {% endif %}
    {% if display == "in list" %}
        {% include "agenda_culturel/ephemeris-inc.html" with event=event %}
    {% endif %}
    {% if event.location %}<hgroup>{% endif %}
            {% if display == "in list" %}<h2>{% else %}<h3>{% endif %}
            <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
            {% if display == "in list" %}</h2>{% else %}</h3>{% endif %}
    {% if event.location %}
    {% if display == "in list" %}<h3>{% else %}<h4>{% endif %}
        <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <use href="{% static 'images/feather-sprite.svg' %}#map-pin" />
        </svg>
        {{ event.location }}
        {% if display == "in list" %}</h3>{% else %}</h4>{% endif %}
    </hgroup>
    {% endif %}
        {% if event|need_complete_display:display %}<p>
            <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <use href="{% static 'images/feather-sprite.svg' %}#calendar" />
            </svg>
    
            <em>{% if event.end_day %}Cet événement dure du {% else %}Cet événement a lieu le{% endif %}
                {% include "agenda_culturel/date-times-inc.html" with event=event %}
            </em></p>
        {% endif %}
    {% else %}
    <header>
        {% include "agenda_culturel/ephemeris-inc.html" with event=event %}
        <h1>{{ event.title }}</h1>
        <p>
            <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <use href="{% static 'images/feather-sprite.svg' %}#map-pin" />
            </svg>
            {{ event.location }}
        </p>
        <p><svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <use href="{% static 'images/feather-sprite.svg' %}#calendar" />
        </svg>
            {% if event.end_day %}du{% else %}le{% endif %}
            {% include "agenda_culturel/date-times-inc.html" with event=event %}
        </p>
    </header>
    {% endif %}

    {% if event.image %}
    <article class='illustration{% if display in "in list by day" %}-small{% endif %}'>
        <img src="{{ event.image }}" alt="{{ event.image_alt }}" />
    </article>
    {% endif %}

    {% if display in "in list by day" %}
        <p>{{ event.description |truncatewords:20 }}</p>
    {% else %}
        <p>{{ event.description }}</p>
    {% endif %}




    {% comment %}
    On affiche le pied qui contient les informations de tags, catégories, etc
    {% endcomment %}
<footer>
    <p>
    {% if mode %}
        {% if category %}
            {{ event.category | small_cat }}
        {% else %}
            {% url 'view_mode_cat' selected_mode.name event.category.pk as url_cat %}
            {{ event.category | small_cat:url_cat }}
        {% endif %}
    {% else %}
        {{ event.category | small_cat }}
    {% endif %}
    </p>
    <p>
        {% for tag in event.tags %}
        <a href="{% url 'view_tag' tag %}" role="button" class="small-cat">{{ tag }}</a>
        {% endfor %}
    </p>

    {% if event.reference_urls %}
    {% if display in "in list by day" %}
    <p>Source{{ event.reference_urls|pluralize }}&nbsp;:
    {% else %}
    <p>Cet événement est proposé par&nbsp;:
    {% endif %} 
    {% for eurl in event.reference_urls %}
    <a href="{{ eurl }}">{{ eurl|hostname }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
{% else %}
    <p><em>Cet événement est disponible uniquement sur les nuits énimagmatiques.</em></p>
{% endif %}

    </footer>
</article>

