{% load cat_extra %}
{% load tag_extra %}

<article id="filters">
    <details>
<summary role="button" class="contrast outline">
    {% if filter.is_active %}
        Filtres&nbsp;: 
        {% for c in filter.get_categories %}
            {{ c | small_cat }}
        {% endfor %}
        {% for t in filter.get_tags %}
            {{ t | tag_button }}
        {% endfor %}
    {% else %}
        Filtrer
    {% endif %}
</summary>
<section>
<form method="get" class="form django-form">
                {{ filter.form }}<br />
                <button type="submit">Appliquer le filtre</button><br />
</form>
</section>
</details>
{% if filter.is_active %}
<a href="{{ filter.get_url_without_filters }}" role="button">Supprimer le filtre</a>
{% endif %}

</article>
