{% extends "agenda_culturel/page.html" %}



{% load i18n %}

{% load cat_extra %}
{% load event_extra %}
{% load utils_extra %}
{% load static %}


{% block entete_header %}
    {% css_categories %}
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}

{% block title %}
Événements de la semaine {{ week }} - {{ year }}
{% endblock %}

{% block main-fluid %}-fluid{% endblock %}
{% block footer-fluid %}-fluid{% endblock %}

 {% block content %}

 <hgroup>
 <h1>Les événements de la semaine {{ week }}</h1>
 <h2>Du {{ calendar.calendar_days_list.0.date }} au {{ calendar.calendar_days_list.6.date }}  </h2>
</hgroup>


{% include "agenda_culturel/filter-inc.html" with filter=filter %}

<article>
    <header>
        <div class="navigation">
            <div>
            <a role="button" href="{% url 'week_view' calendar.previous_week.year calendar.previous_week|week %}?{{ filter.get_url }}"><svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <use href="{% static 'images/feather-sprite.svg' %}#chevron-left" />
            </svg> précédente</a>
            </div>
            <div class="right">
            <a role="button" href="{% url 'week_view' calendar.next_week.year calendar.next_week|week %}?{{ filter.get_url }}">suivante <svg width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <use href="{% static 'images/feather-sprite.svg' %}#chevron-right" />
            </svg></a>
            </div>
        </div>
    </header>
    <div class="grid" id="calendar">
    {% for d in calendar.calendar_days_list %}
    {% include "agenda_culturel/day-inc.html" with day=d fixed_style=calendar.all_in_past filter=filter %}
    {% endfor %}
    </div>

    <footer>
        {% if calendar.today_in_calendar %}
        <a role="button" href="{% url 'aujourdhui' %}?{{ filter.get_url }}">Aujourd'hui</a>
        {% endif %}
        <a role="button" href="{% url 'month_view' calendar.firstdate.year calendar.firstdate.month %}?{{ filter.get_url }}">{{ calendar.firstdate | date:"F o" }}</a>
        {% if calendar.firstdate.month != calendar.lastdate.month %}
            <a role="button" href="{% url 'month_view' calendar.lastdate.year calendar.lastdate.month %}?{{ filter.get_url }}">{{ calendar.lastdate | date:"F o" }}</a>
            {% endif %}
        </footer>
</article>


 {% endblock %}