{% extends "agenda_culturel/page.html" %}



{% load i18n %}

{% load cat_extra %}
{% load event_extra %}

{% block entete_header %}
    {% css_categories %}
{% endblock %}

{% block title %}
{% if category %}
            {{ category.alt_name | capfirst }}
            {{ selected_mode }}
            {% else %}
            {{ selected_mode | capfirst  }}
            {% endif %}
{% endblock %}

 {% block content %}
        <details role="list">
            <summary aria-haspopup="listbox" role="button">
              {{ selected_mode }}
            </summary>
            <ul role="listbox">
                {% for mode in modes %}
                {% if selected_mode.name == mode.name %}
                    <li class="selected"><a>{{ mode }}</a></li>
                {% else %}
                    {% if category %}
                        <li><a href="{% url 'view_mode_cat' mode.name category.pk %}">{{ mode }}</a></li>
                    {% else %}
                        <li><a href="{% url 'view_mode' mode.name %}">{{ mode }}</a></li>
                    {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </details>

        <details role="list">
            <summary aria-haspopup="listbox" role="button">
                {% if category %}
                {{ category.alt_name | capfirst }}
                {% else %} Tous les événements
            {% endif %}</summary>
            <ul role="listbox">
                {% for cat in categories %}
                    {% if category == cat %}
                    <li class="selected" aria-label="Désélectionner"><a href="{% url 'view_mode' selected_mode.name %}">
                        <span class="cat {{ cat.css_class }}"></span>
                        {{ cat }}
                        <span class="action">✕</span>
                    </a></li>
                    {% else %}
                    <li><a href="{% url 'view_mode_cat' selected_mode.name cat.pk %}"{% if not category %}class="selected" {% endif %}>
                        <span class="cat {{ cat.css_class }}"></span>
                        {{ cat }}
                    </a></li>
                    {% endif %}
                {% endfor %}
                    </ul>
        </details>

    <section>
        {% block events %}
        <h1> {% if category %}
            {{ category.alt_name | capfirst }}
            {{ selected_mode }}
            {% else %}
            {{ selected_mode | capfirst  }}
            {% endif %}</h1>
            
            {% if events %}
                {% for date in dates %}
                    
                {% with events_date=events|in_date:date %}
                {% if events_date %}
                <h2>{{ date |date:"l j F"| capfirst }}</h2>
                    {% for event in events_date %}
                        <article>
                            <h3>
                                {% if not event.end_day and event.start_time %}{{ event.start_time }}{% endif %}
                                <a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
                            {% if event.end_day %}<p><em>Cet événement dure du {{ event.start_day |date:"l j F" }} au {{ event.end_day |date:"l j F" }}</em></p>{% endif %}
                            <p>{{ event.description |truncatewords:20 }}</p>

                            <footer>
                            <p>{% if category %}
                            {{ event.category | small_cat }}
                            {% else %}
                            {% url 'view_mode_cat' selected_mode.name event.category.pk as url_cat %}
                            {{ event.category | small_cat:url_cat }}
                            {% endif %} </p>
                            <p>
                                {% for tag in event.tags %}
                                <a href="" role="button" class="small-cat">{{ tag }}</a>
                                {% endfor %}
                            </p>
                            </footer>
                        </article>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% endfor %}
            </ul>
            {% else %}
            <p class="warning">Aucun événement ne correspond à la recherche.</p>
            {% endif %}
        {% endblock %}
    </section>
 {% endblock %}
