<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{% block title %}{% endblock %}</title>
    

    {% load static %}
    {% if debug %}
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon-dev.svg' %}">
    {% else %}
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    {% endif %}

    {% load compress %}

    {% compress css %}
        <link type="text/x-scss" href="{% static 'style.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% block entete_header %}
    {% endblock %}
</head>
{% load event_extra %}
<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="/" aria-label="Retour accueil">
                    <img src="{% static 'images/favicon.svg' %}" />
                </a>
            </li>
            <li>
                Les nuits énigmagmatiques
            </li>
        </ul>
        <ul>
            <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link">Événements</summary>
                <ul role="listbox">
                    <li><a href="{% url 'event_import_form' %}">Importer</a></li>
                    <li><a href="{% url 'add_event' %}">Créer</a></li>
                    <li><a>Exporter</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'view_all_events' %}">Gérer</a></li>
                    {% endif %}
                </ul>
              </details>
            </li>
        </ul>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    
    <footer class="container">
        <div class="grid">
            <ul>
                <li><a href="{% url 'view_all_tags' %}">Toutes les étiquettes</a></li>
                <li>À propos</li>
            </ul>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'admin:index' %}">administration</a></li>
                <li><a href="{% url 'logout' %}?next={% url 'home' %}">déconnexion</a></li>
                <li>vous êtes connecté(e) en tant que {{ user }}</li>
                {% else %}
                <li><a href="{% url 'login' %}?next={% url 'view_all_events' %}">connexion</a></li>
                  {% endif %}
            </ul>
    
        </div>
    
    </footer>
</body>