{% extends "agenda_culturel/page.html" %}



{% load i18n %}

{% load cat_extra %}
{% load event_extra %}

{% block entete_header %}
    {% css_categories %}
{% endblock %}

 {% block content %}
    <header>
        <div id="display-mode" class="nav-buttons">
            {% for mode in modes %}
                {% if selected_mode.name == mode.name %}
                <span class="mode selected">{{ mode }}</span>
                {% else %}
                    {% if category %}
                        <a href="{% url 'view_mode_cat' mode.name category.pk %}" class="mode">{{ mode }}</a>
                    {% else %}
                    <a href="{% url 'view_mode' mode.name %}" class="mode">{{ mode }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div id="categories" class="nav-buttons">
            {% for cat in categories %}
                {% if category == cat %}
                <span class="cat {{ cat.css_class }} selected">{{ cat }} <a href="{% url 'view_mode' selected_mode.name %}" class="close">✕</a></span>
                {% else %}
                    <a href="{% url 'view_mode_cat' selected_mode.name cat.pk %}" class="cat {{ cat.css_class }} {% if category == None %}selected{% endif %}">{{ cat }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </header>
    <section>
        {% block events %}
        <h2> {% if category %}
            {{ category.alt_name | capfirst }}
            {{ selected_mode }}
            {% else %}
            {{ selected_mode | capfirst  }}
            {% endif %}</h2>
            
            {% if events %}
                {% for date in dates %}
                    
                <h3>{{ date |date:"DATE_FORMAT" }}</h3>
                {% with events_date=events|in_date:date %}
                {% if events_date %}
                <lu>
                    {% for event in events_date %}
                        <li>{% if category %}
                            {{ event.category | small_cat }}
                            {% else %}
                            {% url 'view_mode_cat' selected_mode.name event.category.pk as url_cat %}
                            {{ event.category | small_cat:url_cat }}
                            {% endif %} {{ event.title }}
                        </li>
                    {% endfor %}
                </lu>
                {% else %}
                <p class="warning-simple">Aucun événement ce jour-là.</p>
                {% endif %}
                {% endwith %}
                {% endfor %}
            </ul>
            {% else %}
            <p class="warning">Aucun événement ne correspond à la recherche.</p>
            {% endif %}
        {% endblock %}
    </section>
    <footer id="tags">
        TODO 
    </footer>    
 {% endblock %}
