{% extends "agenda_culturel/page.html" %}



{% load i18n %}

{% load cat_extra %}
{% load event_extra %}
{% load utils_extra %}
{% load static %}


{% block entete_header %}
    {% css_categories %}
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}

{% block title %}
Événements du {{ day | date:"l j F" }}
{% endblock %}


 {% block content %}


 <h1>Les événements du {{ day | date:"l j F" }}</h1>
 
 {% include "agenda_culturel/filter-inc.html" with filter=filter %}




<article>
        <div class="navigation">
            <div>
            {% with day|shift_day:-1 as pred_day %}
            <a role="button" href="{% url 'day_view' pred_day.year pred_day.month pred_day.day %}?{{ filter.get_url }}">
                {% picto_from_name "chevron-left" %} précédent</a>
            {% endwith %}
            </div>
            <div class="right">
            {% with day|shift_day:1 as next_day %}
                <a role="button" href="{% url 'day_view' next_day.year next_day.month next_day.day %}?{{ filter.get_url }}">suivant 
                    {% picto_from_name "chevron-right" %}
                </a>
            {% endwith %}
            </div>
        </div>
</article>

    {% if events %}
    {% for event in events %}
        {% include "agenda_culturel/single-event/event-in-list-by-day-inc.html" with event=event filter=filter %}
    {% endfor %}
    {% else %}
    <article>
        {% if filter.is_active %}
        <em>Il n'y a pas d'événement prévu à cette date correspondant au filtre sélectionné.</em>
        {% else %}
        <em>Il n'y a pas d'événement prévu à cette date.</em>
        {% endif %}
    </article>
    {% endif %}

    <article>
            <a role="button" href="{% url 'week_view' day.year day|week %}?{{ filter.get_url }}">Toute la semaine</a>
    </article>
 {% endblock %}