{% extends "agenda_culturel/page.html" %}



{% load i18n %}

{% load cat_extra %}
{% load event_extra %}
{% load utils_extra %}
{% load static %}


{% block entete_header %}
    {% css_categories %}
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}

{% block title %}
Événements {{ calendar.firstdate | date:"F o"|add_de }}
{% endblock %}

{% block main-fluid %}-fluid{% endblock %}
{% block footer-fluid %}-fluid{% endblock %}

 {% block content %}
 <h1>Événements de {{ calendar.firstdate | date:"F o" }}</h1>

 {% include "agenda_culturel/filter-inc.html" with filter=filter %}


 <article>
    <header>
        <div class="navigation">
            <div>
            <a role="button" href="{% url 'month_view' calendar.previous_month.year calendar.previous_month.month %}?{{ filter.get_url }}">
                {% picto_from_name "chevron-left" %} précédent</a>
            </div>
            <div class="right">
            <a role="button" href="{% url 'month_view' calendar.next_month.year calendar.next_month.month %}?{{ filter.get_url }}">suivant 
                {% picto_from_name "chevron-right" %}
            </a>
            </div>
        </div>
    </header>
    <div id="calendar">
        <div class="grid week-in-month">
        {% for d in calendar.calendar_days_list %}
        {% if forloop.counter0|divisibleby:7 %}
            {% if not forloop.first %}</div><div class="grid week-in-month">{% endif %}
                <div class="entete-semaine"><h2><a href="{% url 'week_view' calendar.month d.week %}?{{ filter.get_url }}">Semaine {{ d.week }}</a></h2></div>
                {% endif %}
        {% include "agenda_culturel/day-inc.html" with day=d resume=1 fixed_style=calendar.all_in_past filter=filter headers="h3" %}
        {% endfor %}
        </div>
    </div>

    <footer>
        {% if calendar.today_in_calendar %}
        <a role="button" href="{% url 'aujourdhui' %}?{{ filter.get_url }}">Aujourd'hui</a>
        <a role="button" href="{% url 'cette_semaine' %}?{{ filter.get_url }}">Cette semaine</a>
        {% endif %}
        </footer>
</article>

 
 
 {% endblock %}