{% extends "agenda_culturel/page.html" %}

{% block title %}Derniers événements soumis{% endblock %}

{% load cat_extra %}
{% block entete_header %}
    {% css_categories %}
{% endblock %}

{% block content %}

<article>
    <header>
        <h1>Derniers événements soumis</h1>

        <form method="get" class="form django-form recent">
                        {{ filter.form }}<br />
                        <button type="submit">Filtrer</button><br />
        </form>
    </header>

    <ul>
{% for obj in paginator_filter %}
    <li>{% include "agenda_culturel/single-event/event-in-flat-list-inc.html" with event=obj %}</li>
{% endfor %}
</ul>
<footer>
    <span>
        {% if paginator_filter.has_previous %}
            <a href="?page=1" role="button">&laquo; premier</a>
            <a href="?page={{ paginator_filter.previous_page_number }}" role="button">précédent</a>
        {% endif %}

        <span>
            Page {{ paginator_filter.number }} sur {{ paginator_filter.paginator.num_pages }}
        </span>

        {% if paginator_filter.has_next %}
            <a href="?page={{ paginator_filter.next_page_number }}" role="button">suivant</a>
            <a href="?page={{ paginator_filter.paginator.num_pages }}" role="button">dernier &raquo;</a>
        {% endif %}
    </span>
</footer>
</article>

{% endblock %}