{% extends "agenda_culturel/page.html" %}

{% block title %}Rechercher un événement{% endblock %}

{% load utils_extra %}

{% load cat_extra %}
{% block entete_header %}
    {% css_categories %}
{% endblock %}

{% block content %}

<article class="search">
    <header>
        <h1>Rechercher un événement</h1>
    </header>

    <form method="get" class="form django-form" action="#results">
        {{ filter.form }}
        <button type="submit">Rechercher</button>

        {% if full %}
        <a href="{% url 'event_search' %}">Recherche simplifiée {% picto_from_name "chevron-right" %}</a>
        {% else %}
        <a href="{% url 'event_search_full' %}">Recherche avancée  {% picto_from_name "chevron-right" %}</a>
        {% endif %}
    </form>

    {% if has_results %}
    <div id="results">
        <p>{{ paginator_filter.paginator.count }} événement{{paginator_filter.object_list.count | pluralize }} correspond{{paginator_filter.object_list.count | pluralize:"ent" }} à la recherche.</p>
        <ul>
        {% for obj in paginator_filter %}
            <li>
                {% include "agenda_culturel/single-event/event-in-flat-list-inc.html" with event=obj %}
            </li>
        {% endfor %}
        </ul>
        {% if paginator_filter.paginator.num_pages != 1 %}
            <footer>
                <span>
                    {% if paginator_filter.has_previous %}
                        <a href="?page=1" role="button">&laquo; premier</a>
                        <a href="?page={{ paginator_filter.previous_page_number }}" role="button">précédent</a>
                    {% endif %}

                    <span>
                        Page {{ paginator_filter.number }} sur {{ paginator_filter.paginator.num_pages }}
                    </span>

                    {% if paginator_filter.has_next %}
                        <a href="?page={{ paginator_filter.next_page_number }}" role="button">suivant</a>
                        <a href="?page={{ paginator_filter.paginator.num_pages }}" role="button">dernier &raquo;</a>
                    {% endif %}
                </span>
            </footer>
        {% endif %}
    </div>
    {% endif %}
</article>

{% endblock %}