{% extends "agenda_culturel/page.html" %}

{% block title %}Éditer {{ object.name }}{% endblock %}

{% block entete_header %}
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
{% endblock %}

{% block content %}

<h1>Édition du contenu statique <em>{{ object.name }}</em></h1>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enregistrer">
</form>

{% endblock %}