body {
    font-family: 'Open Sans';font-size: 16px;
}

.nav-buttons {
    padding: 1em;
    font-weight: bold;
}


.cat, .mode {
    line-height: 2.4em;
    box-sizing: border-box;
    height: 2.4em;
    padding: 0 1.4em;
    border-radius: 1.2em;
    text-decoration: none;
    display: inline-block;
    color: #000;
}

span.cat, span.mode {
    cursor: default;
}

.mode {
    background-color: #999;
}

a.mode:hover {
    background-color: #666;
    color: #FFF;
}

.mode.selected {
    background-color: #444;
    color: #fff;
}

.cat a.close {
    text-decoration: none;
    height: 1.6em;
    width: 1.6em;
    display: inline-block;
    line-height: 1.6em;
    background: #eee;
    color: #000;
    border-radius: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-left: 0.4em;
    margin-right: -0.8em;
}
.cat a.close:hover {
    background: #fff;
}