body {
    font-family: 'Open Sans';font-size: 16px;
}

#full_content>header {
    padding-bottom: 1em;
}

[role="doc-subtitle"] { 
    font-size: 140%;
    margin-top: -1em;
}

.nav-buttons {
    padding: 0.6em 0;
    font-weight: bold;
}


.cat, .mode {
    line-height: 2.4em;
    box-sizing: border-box;
    height: 2.4em;
    margin: 0.2em;
    padding: 0 1.4em;
    border-radius: 1.2em;
    text-decoration: none;
    display: inline-block;
    color: #000;
}

span.cat, span.mode {
    cursor: default;
}

.mode {
    background-color: #CCC;
}

a.mode:hover {
    background-color: #666;
    color: #FFF;
}

.mode.selected {
    background-color: #444;
    color: #fff;
}

.cat a.close {
    text-decoration: none;
    height: 1.6em;
    width: 1.6em;
    display: inline-block;
    line-height: 1.6em;
    background: #eee;
    color: #000;
    border-radius: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-left: 0.4em;
    margin-right: -0.8em;
}
.cat a.close:hover {
    background: #fff;
}

.small-cat {
    font-weight: bold;
    text-decoration: none;
    font-size: 80%;
    display: inline-block;
    padding: 0.1em 0.8em;
    border-radius: .4em;
}

.warning-simple {
    font-style: italic;
}

.warning {
    background: #EEE;
    padding: 1em;
    border-radius: 1.5em;
}